body{
    background-image: url();
    background-size: 1920px 1200px;
}
ul{
    display: grid;
    grid-template-columns: 112px 150px;
    
    background-color: rgb(51, 51, 51);
    list-style-type: none;
    grid-gap: 5px;
    margin-top: 0px;
    padding: 0px;
    height: 40px;
}


li{
    transition: 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    width: 150px;
    text-align: center;
    padding: 8px;
    font: bold 20px Arial;
    display: inline-block;
}

li:hover{
    cursor: pointer;
    background-color: black;
    transition: 0.3s;
}

a:visited{
    text-decoration: none;
    color: white;
}
a:link{
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.current{
    background-color: rgb(128, 128, 128);
    width: 100px;
    margin: 0;
    color: white;
    height: 24px;
    transition: 0.3s;
}

a.home{
    color: black;
}

.current:hover{
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    transition: 0.3s;
}

.title{
    font-size: 60px;
    font-family: arial;
    text-align: center;
    margin-top: 50px;
    background-color: white;
}

.img{
    margin-top: 10vw;
}
