ul{
    display: grid;
    grid-template-columns: 112px 150px;
    
    background-color: rgb(51, 51, 51);
    list-style-type: none;
    grid-gap: 5px;
    margin-top: 0px;
    padding: 0px;
    height: 40px;
}


li{
    
    margin-top: 0;
    margin-bottom: 0;
    width: 150px;
    text-align: center;
    padding: 8px;
    font-family: arial;
    font-size: 20px;
    display: inline-block;
}

li:hover{
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
}

a:visited{
    text-decoration: none;
    color: white;
}
a:link{
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.current{
    background-color: rgb(81, 185, 250);
    width: 100px;
    margin: 0;
    height: 24px;
}

a.home{
    color: black;
}

.current:hover{
    cursor: pointer;
    background-color: rgb(70, 163, 221);
    transition: 0.5s;
}

.title{
    font-size: 75px;
    font-family: arial;
    text-align: center;
    margin-top: 50px;
}

