body{
    background-image: url();
    background-size: 1920px 1200px;
}
ul{
    display: grid;
    grid-template-columns: 117px 152px 175px;
    background-color: rgb(51, 51, 51);
    list-style-type: none;
    grid-gap: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 40px;
}


li{
    transition: 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
    font: bold 20px Arial;
    display: inline-block;
    color: white;
}

li:hover{
    cursor: pointer;
    background-color: black;
    transition: 0.3s;
}

a:visited{
    text-decoration: none;
    color: white;
}
a:link{
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.accueil{
    width: 100px;
}

.current{
    background-color: rgb(77, 77, 77);
    color: white;
    transition: 0.3s;
}

.current:hover{
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    transition: 0.3s;
}