body{
    background-image: url();
    background-size: 1920px 1200px;
}
ul{
    display: grid;
    grid-template-columns: 117px 152px 175px;
    background-color: rgb(51, 51, 51);
    list-style-type: none;
    grid-gap: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 40px;
}


li{
    transition: 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
    font: bold 20px Arial;
    display: inline-block;
    color: white;
}

li:hover{
    cursor: pointer;
    background-color: black;
    transition: 0.3s;
}

a:visited{
    text-decoration: none;
    color: white;
}
a:link{
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.accueil{
    width: 100px;
}

.current{
    background-color: rgb(77, 77, 77);
    color: white;
    transition: 0.3s;
}

.current:hover{
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    transition: 0.3s;
}

.title{
    text-align: center;
    margin: 2vw;
    font: bold 3vw Arial;
}

.game{
    display: grid;
    grid-template-columns: 50vw auto;
    grid-gap: 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    background-color: black;
    padding: .25vw;
    width: 35vw;
    height: 35vw;
    border-radius: .25vw;
    justify-items: center;
    align-items: center;
    margin-left: 12.2vw;
    margin-top: 1vw;
    user-select: none;
    margin-bottom: 0;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .25vw;
    padding: .1vw;
    transition: none;
}

.grid-1 > div, .grid-2 > div, .grid-3 > div, .grid-4 > div, .grid-5 > div, .grid-6 > div, .grid-7 > div, .grid-8 > div, .grid-9 > div{
    width: 3.6vw;
    height: 3.6vw;
    background-color: white;
    
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 1.5vw Arial;
    color:rgb(110, 110, 110);
}

.cell:hover{
    cursor: pointer;
    background-color:rgb(231, 231, 231);
}

.cell.show{
    color: black;
}

.cell.show:hover{
    cursor: default;
    user-select: none;
    background-color: rgb(231, 231, 231);
}

.cell.selected{
    background-color: rgb(182, 182, 182);
    color: white;
}

.cell.incorrect{
    color: red;
    background-color: rgb(255, 187, 187);
}

.cell.selected.incorrect{
    color: white;
    background-color: rgb(255, 107, 107);
}

.cell.correct{
    color: rgb(0, 255, 42);
}

.cell.correct:hover{
    cursor: default;
}

.pad{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 28vw 90px;
    margin-left: 2.25vw;
}

.btn{
    display: grid;
    grid-template-columns: 9vw 9vw;
    width: 17vw;
    height: 3px;
    
}
.numpad{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    margin-left: 0px;
    margin-top: 9vw;
    grid-gap: 0px;
    width: 16.5vw;
    height: 16.5vw;
    padding: 0;
}



.numpad > div > button{
    font: Bold 2vw Arial;
    transition: .3s
}
.numpad > div > button:hover{
    cursor: pointer;
    background-color: rgb(185, 185, 185);
    transition: .3s;
}

button{
    width: 5.25vw;
    height: 5.25vw;
    border-radius: 10px;
    border: none;
    background-color:rgb(223, 222, 222);
}

#newGameBtn, #hintBtn, #checkWinBtn{
    width: 8.5vw;
    height: 2.6vw;
    background-color: rgb(51, 51, 51);
    border-radius: .25vw;
    font: bold .75vw Arial;
    transition: 0.5s;
    color: white;
}

#newGameBtn:hover, #hintBtn:hover, #checkWinBtn:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}


