body{
    background-image: url();
    background-size: 1920px 1200px;
}

ul{
    position: fixed;
    display: grid;
    grid-template-columns: 116px 151.59px 164px 167.5px 88px 10000px;
    background-color: rgb(51, 51, 51);
    list-style-type: none;
    grid-gap: 0px;
    top: 0;
    padding: 0px;
    height: 40px;
    z-index: 2;
}

li{
    position: relative;
    transition: 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
    font: bold 20px Arial;
    display: inline-block;
}

.home{
    width: 100px;
}

li:hover{
    cursor: pointer;
    background-color: black;
    transition: 0.3s;
}

a:visited{
    text-decoration: none;
    color: white;
}
a:link{
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.current{
    background-color: rgb(77, 77, 77);
    width: 100px;
    margin: 0;
    color: white;
    height: 24px;
    transition: 0.3s;
}

.current:hover{
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    transition: 0.3s;
}

#facile{
    font: bold 20px Arial;
    margin-left: 10px;
    margin-top: 20px;
}

#facile-stats{
    margin-left: 10px;
    margin-top: 5px;
    font: 15px Arial;
    margin-bottom: 10px;
}

#normal{
    font: bold 20px Arial;
    margin-left: 10px;
    margin-top: 20px;
}

#normal-stats{
    margin-left: 10px;
    margin-top: 5px;
    font: 15px Arial;
    margin-bottom: 10px;
}

#difficile{
    font: bold 20px Arial;
    margin-left: 10px;
    margin-top: 20px;
}

#difficile-stats{
    margin-left: 10px;
    margin-top: 5px;
    font: 15px Arial;
    margin-bottom: 10px;
}

.sudokuTitle{
    font: bold 2vw Arial;
}

.miniP{
    font: 1vw Arial;
    margin-top: .5vw;
}

.statsBtn{
    position: fixed;
    width: 30px;
    height: 30px;
    top: 5px;
    margin-left: calc(100vw - 70px);
    transition: 0.3s;
    user-select: none;
    z-index: 2;
}

.stats-nav{
    position: relative;
}

.statsBtn:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.stats{
    right: 0px;
    background-color: rgb(77, 77, 77);
    top: 40px;
    width: 300px;
    height: auto;
    font: bold 25px Arial;
    padding: 30px;
    position: fixed;
    user-select: none;
    z-index: 1;
    animation-name: slidedown;
    animation-duration: .5s;
    color: white;
}

.stats.hidden{
    animation-name: slideup;
    animation-duration: .5s;
    margin-top: -345px;
}

.stats.none{
    display: none;
}

@keyframes slidedown{
    0% {margin-top: -345px;}
    100% {margin-top: 0px;}
}

@keyframes slideup{
    0%{margin-top: 0px;}
    100% {margin-top: -345px;}
}

.title{
    font: bold 5vw Arial;
    text-align: center;
    margin-top: 100px;
}

p{
    font: bold 40px Arial;
    margin-top: 100px;
    text-align: center;
}

.p{
    color: rgb(8, 30, 78);
}

.p:hover{
    text-decoration: underline;
}

.p:link{
    color: rgb(8, 30, 78);
}

.p:visited{
    color: rgb(8, 30, 78);
}

.iconLink{
    color: black;
    font: bold 15px Arial;
    margin-top: 20px;
}

.iconLink:link{
    color: black;
}

.iconLink:visited{
    color: black;
}

.source{
    margin-top: 100px;
    position: relative;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 500px;
    height: auto;
}

.bottom{
    margin-top: 200px;
}

.titleBiblio{
    font: bold 5vw Arial;
    text-align: center;
    margin-top: 200px;
}