* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url();
    background-size: 1920px 1200px;
}

ul{
    display: grid;
    grid-template-columns: 117px 152px 164px;
    background-color: rgb(51, 51, 51);
    list-style-type: none;
    grid-gap: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 40px;
}


li{
    transition: 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
    font: bold 20px Arial;
    display: inline-block;
}

li:hover{
    cursor: pointer;
    background-color: black;
    transition: 0.3s;
}

a:visited, a:link, a.home{
    text-decoration: none;
    color: white;
}

.current{
    background-color: rgb(77, 77, 77);
    margin: 0;
    color: white;
    height: 24px;
    transition: 0.3s;
}

.current:hover{
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    transition: 0.3s;
}

.accueil{
    width: 100px;
}

.title{
    text-align: center;
    margin: 2vw;
    font: bold 3vw Arial;
}

.game{
    display: grid;
    grid-template-columns: 50vw auto;
    grid-gap: 0px;
}

.start-game{
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.822);
    padding: .25vw;
    width: 25.25vw;
    height: 25.25vw;
    border-radius: .25vw;
    justify-items: center;
    align-items: center;
    margin-left: 22vw;
    margin-top: 3vw;
    user-select: none;
    margin-bottom: 0;
}

.start-instructions{
    display: flex;
    background-color: white;
    font: bold 1.5vw Arial;
    text-align: center;
    width: 20vw;
    height: 5vw;
    border-radius: .25vw;
    margin:10.5%;
    margin-top: 40%;
    justify-items: center;
    align-items: center;
    transition: 5s;
}

.start-game.hidden{
    opacity: 0;
    transition: 1s;
}

.start-game.hidden.none{
    display:none;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    background-color: black;
    padding: .25vw;
    width: 25.25vw;
    height: 25.25vw;
    border-radius: .25vw;
    justify-items: center;
    align-items: center;
    margin-left: 22vw;
    margin-top: 3vw;
    user-select: none;
    margin-bottom: 0;
}

.grid-1, .grid-2, .grid-3, .grid-4{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: .25vw;
    padding: .1vw;
    transition: none;
}

.grid-1 > div, .grid-2 > div, .grid-3 > div, .grid-4 > div{
    width: 6vw;
    height: 6vw;
    background-color: white;
    
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 3vw Arial;
    color:rgb(110, 110, 110);
}

.cell:hover{
    cursor: pointer;
    background-color:rgb(231, 231, 231);
}

.cell.show{
    color: black;
}

.cell.show:hover{
    cursor: default;
    user-select: none;
    background-color: rgb(231, 231, 231);
}

.cell.selected{
    background-color: rgb(182, 182, 182);
    color: white;
}

.cell.incorrect{
    color: red;
    background-color: rgb(255, 187, 187);
}

.cell.selected.incorrect{
    color: white;
    background-color: rgb(255, 107, 107);
}

.cell.correct{
    color: rgb(0, 255, 42);
}

.cell.correct:hover{
    cursor: default;
}

.pad{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 90px;
    margin-left: 2.25vw;
}

.btn{
    display: grid;
    grid-template-columns: 9vw 9vw;
    width: 17vw;
    height: 3px;
    
}
.numpad{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    margin-left: 0;
    margin-top: 10.3vw;
    grid-gap: 0px;
    width: 11vw;
    height: 11vw;
    padding: 0;
}



.numpad > div > button{
    font: Bold 2vw Arial;
    transition: .3s
}
.numpad > div > button:hover{
    cursor: pointer;
    background-color: rgb(185, 185, 185);
    transition: .3s;
}

button{
    width: 5.25vw;
    height: 5.25vw;
    border-radius: 10px;
    border: none;
    background-color:rgb(223, 222, 222);
}

#newGameBtn, #hintBtn, #checkWinBtn{
    width: 8.5vw;
    height: 2.6vw;
    background-color: rgb(51, 51, 51);
    border-radius: .25vw;
    font: bold .75vw Arial;
    transition: 0.5s;
    color: white;
}

#newGameBtn:hover, #hintBtn:hover, #checkWinBtn:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}


